*{
    font-family : 'Noto Sans'
}


#containerTrains {
    background-color: rgba(136, 136, 136, 0);
    grid-row-start: 2;
    grid-row-end: 10;
    grid-column-start: 3;
    grid-column-end: 9;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#littlecontainers{
    display: flex ;
    width: 100%;
    justify-content: space-around;
    align-items: space-around;
}

/* base conteneur */

.centralConainers{
    background-color: rgb(255, 255, 255);
    width: clamp(200px, 25vw, 400px);
    height: clamp(300px, 35vh, 600px);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}



/* conteneur de gauche */

#title{
    text-align: center;

}

.inputSearch{
    height: 8vh;
    border-radius: 2px;
    border: none;
    background-color: rgb(216, 216, 216);
    padding-left: 10px;
}

#searchByDeparture{
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 0.2px solid black;




}

#searchByDate{
    margin-top: 5vh;
    margin-bottom: 14vh;


}
#btnSearch{
    text-align: center;
    font-size: 12px;
    font-weight: 600;

    color: rgb(255, 255, 255);
    background-color: #4FAB91;
    border-radius: 3px;
    height: 8vh;
    align-items: center;
    display: flex;
    justify-content: center;

}

#btnSearch:hover{
    cursor: pointer;
}





/* conteneur de droite */

#containerFound{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow-y: auto;
    justify-content: center;
    align-items: center;

}

#imgTrajetFound{
    border-bottom: 2px solid #4FAB91;
    padding-bottom: 50px;
    margin-bottom: 2vh;
    width: 60% ;
}

#txtFound{
    text-align: center;
}

.travelList{
    background-color: rgba(158, 161, 152, 0.438);
    width: 100%;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;
    font-size: 0.75vmin;
}

.book{
    background-color:  #4FAB91;
    width: 4vmin;
    border-radius: 6px;
    padding: 5px;
    margin: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75vmin;
}


.book:hover{
     cursor: pointer;
}


#title{
    color: white;
}
h1{
    margin-bottom: 20px;
    font-weight: 400;
}

h4{
    margin-bottom: 20px;
    font-weight: 400;
}