*{
    font-family : 'Noto Sans'
}



#containerCart {
    background-color: #e9ecef;
}

#centralContainer{
    grid-row-start: 5;
    grid-column-start: 3;
    grid-column-end: 9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    
    
}



#centralContainer p {
margin-top: 50px;
margin-bottom: 30px;

}
#mycart{
    margin-top: 20px;
    margin-bottom: 20px;
}


.travelTopaid{
    background-color: #f5eeee;
    width: 80%;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

}



.supprimer {
    background-color: #4FAB91;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}

.supprimer:hover{
cursor: pointer;

}

#totalBuy{
    background-color: rgb(15, 15, 56);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: wheat;
    width: 100%;
    height: 70px;
    border-radius: 0 0 10px 10px;
}
#total{
    margin-left: 40px;
    padding-left: 20px;
    color: aliceblue;

}
#purchase{
    background-color: #4FAB91;
    width: 100px;
    border-radius: 5px;
    margin-right: 50px;
    padding: 5px;
    color: white;
    font-size: 15px;
    
    text-align: center;

}

#purchase:hover{
    cursor: pointer;
}