*{
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: beige;
}

#containerAccueil{
    background-image: url('images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;

}

.mainContainer {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 0.25fr repeat(10, 1fr);
}

#topBar {
    background-color: #f5f5f5;
    padding: 10px;
    border-bottom: 4px solid rgb(252, 245, 232) ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 12;
}

#txtTicketHack{
    color: rgb(0, 112, 6);
    font-weight: 900;
    font-size: larger;
}



/*
#subContenairTopBar{
    width: clamp(110px, 6vw, 300px);
    padding-right: 1vw;
    display: flex;
    justify-content: space-between;
    font-size: large;
}*/